* {
    background-color: green;
}

h1 {
    text-align: center;
    background-color: gold;
    border:solid 10px black;
    padding: 4%;
    margin: 1%;
    font-size:200%;
}

h2 {
    text-align: center;
    background-color: blueviolet;
    color: antiquewhite;
    border-radius: 0%;
    margin: 2%;
    padding: 1%;
    font-family: cursive;
    font-size:150%;
}

#tarea {
    text-align: center;
    background-color: white;
    color: black;
    font-size:x-large;
    display: block;
    margin: auto;
    width: 500px;
    height: 80px;
}

#boton-añadir {
    background-color: greenyellow;
    color: black;
    font-size: 150%;
    display: block;
    padding: 3%;
    margin: auto;
    border-radius: 80%;
    border-style: solid;
    cursor: pointer;
}

#boton-limpiar {
    background-color: red;
    color: black;
    font-size: 150%;
    display: block;
    padding: 3%;
    margin: auto;
    border-style: solid;
    border-radius: 80%;
    cursor: pointer;
}
